<!-- This is not working correctly, needs to center on resize -->
<div class="container home-container">
  <div class="row">
    <div class="home-img-row">
      
      <div class="home-image hidden-sm hidden-xs">
        <%= image_tag("saw.png") %>
      </div>
      <div class="home-image">
        <%= image_tag("tools.png") %>
      </div>
      <div class="home-image hidden-sm hidden-xs">
        <%= image_tag("ladder.png") %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col-lg-6 col-md-6 col-sm-8 col-xs-10 main col-centered">


    <h1 class="centered home_title"><%= APP_NAME %></h1>
    <div>
      <h2 class="subheader header centered">Building better communities<br>through sharing.</h2>

      <div class = "container">
        <div class="row">
          <div class= "col-md-2 col-sm-1 col-xs-0">
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button"> 
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-success"%>
            </div>
          </div>

          <div class= "col-md-2 col-sm-2 col-xs-0">           
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button">
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-large btn-success" %>
            </div>
          </div>

          <div class= "col-md-2 col-sm-1">
          </div>     
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class= "col-lg-6 col-md-6 col-sm-8 col-xs-10 main col-centered">
    <!-- This is awkward, needs to be moved -->
    <%= render "shared/error_messages" %>

  </div>
</div>