<div class="section" id="services">
  <div class="fixed-wrapper"><h1>Edit Profile</h1></div>
  <div class="container" style="margin-top: 0">
    <div class="content">
      <div class="row">
        <div class="edit-profile">

    
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
        
          <div class="form-group skinny">
            <%= f.text_field :name, :autofocus => true, class:"form-control" %>
            <%= f.label :name %><br />
          </div>
        
          <div class="form-group skinny">
            <%= f.email_field :email, class:"form-control" %>
            <%= f.label :email %><br />
          </div>
        
          <div class="form-group skinny">
            <%= f.text_field :street, class:"form-control" %>
            <%= f.label :street %><br>
          </div>
          <div class="clearfix"></div>
          
          <div class="form-group skinny">
            <%= f.text_field :city, class:"form-control" %>
            <%= f.label :city %><br>
          </div>
          <div class="clearfix"></div>
        
          <div class="form-group skinny">
            <%= f.text_field :zipcode, class:"form-control" %>
            <%= f.label :zipcode %><br>
          </div>
          <div class="clearfix"></div>
        
          <div class="form-group skinny">
            <%= f.text_field :state, class:"form-control" %>
            <%= f.label :state %><br>
          </div>
        
          <div class="form-group skinny">
            <%= f.text_field :phone_num, class:"form-control" %>
            <%= f.label :phone_num, "Phone Number" %><br>
          </div>
          <div class="clearfix"></div>
        
          <div class="form-group skinny">
            <br>

            <div class = "thumbnail">
              <% if @user.picture? %>
                <%= image_tag @user.picture_url(:thumb)%>
              <% else %>
                <%= image_tag "generic.jpg"%>
                <% end %>
            </div>
          
            
            <br>
            <%= f.file_field :picture %>
            <%= f.label :picture %>
            
          </div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="form-group skinny">
          <div>
            <%= f.password_field :password, :autocomplete => "off", class:"form-control", placeholder:"leave blank if you don't want to change" %>
            <%= f.label :password %>
          </div>
        
          <div class="form-group skinny">
            <%= f.password_field :password_confirmation, class:"form-control" %>
            <%= f.label :password_confirmation %><br />
          </div>
        
          <div class="form-group skinny">
            <%= f.password_field :current_password, class:"form-control", placeholder:"required to confirm changes" %>
            <%= f.label :current_password %><br />
          </div>
        
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <%= f.submit "Update", class:"btn btn-large btn-success" %>
          <% end %>
            </div>
            <div class="col-sm-4">
              <%= link_to "Back", :back, class:"btn btn-large btn-warning" %>
            </div>
          </div>

            <%= link_to "Cancel my account", registration_path(resource_name), class:"cancel-acct", :data => { :confirm => "Are you sure?" }, :method => :delete %>

        </div>
      </div>
    </div>
  </div>
</div>
