<div class="section" id="contact">
  <div class="fixed-wrapper">
    <h1>Edit Profile</h1>
  </div>

  <div class="container">
    <!-- <div class="content"> -->
      <div class="row">
        <div class="edit-profile col-lg-8 with-labels">

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>


            <div class="clearfix"></div>

            <div class="form-group skinny">
              <%= f.label :picture %>
              <div class="upload-preview polaroid user-profile-img">
                <div class="imgLiquid imgLiquidFill" style="width:200px; height:200px;">
                  <!-- <div class = "clearfix">            -->
                    <%= image_tag @user.picture_url(:medium)%>
                  <!-- </div> -->
                </div>
              </div>
              <%= f.file_field :picture, class:"file"%>
            </div>

            <div class="clearfix"></div>

            <div class="form-group skinny">         
              <%= f.label :name %><br />
              <%= f.text_field :name, :autofocus => true, class:"form-control" %>
            </div>
        
            <div class="form-group skinny">
              <%= f.label :email %><br />
              <%= f.email_field :email, class:"form-control" %>
            </div>
        
            <div class="form-group skinny">
              <%= f.label :street %><br>
              <%= f.text_field :street, class:"form-control" %>
            </div>

            <div class="clearfix"></div>
          
            <div class="form-group skinny">
              <%= f.label :city %><br>
              <%= f.text_field :city, class:"form-control" %>
            </div>

            <div class="clearfix"></div>
        
            <div class="form-group skinny">
              <%= f.label :state %><br>
              <%= f.text_field :state, class:"form-control" %>
            </div>

       		  <div class="form-group skinny">
              <%= f.label :zipcode %><br>
              <%= f.text_field :zipcode, class:"form-control" %>
            </div>
 
            <div class="clearfix"></div>
               
            <div class="form-group skinny">
              <%= f.label :phone_num, "Phone Number" %><br>
              <%= f.text_field :phone_num, class:"form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="clearfix"></div>
          
            <div class="form-group skinny">
              <%= f.label :password %>
              <%= f.password_field :password, :autocomplete => "off", class:"form-control", placeholder:"leave blank if you don't want to change" %>
            </div>

            <div class="clearfix"></div>
          
            <div class="form-group skinny">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class:"form-control" %>
            </div>

            <div class="clearfix"></div>
          
            <div class="form-group skinny">
              <%= f.label :current_password %><br />
              <%= f.password_field :current_password, class:"form-control", placeholder:"required to confirm changes" %>
            </div>

            <div class="clearfix"></div>
          
            <div class="row button-row">

              <div class="col-sm-4">
                <div class="sign-in-button">
                  <%= f.submit "Update", class:"btn btn-large btn-success" %>          
                </div>
              </div>

              <div class="col-sm-4">
                <div class="sign-in-button">
                  <%= link_to "Back", :back, class:"btn btn-large btn-warning" %>
                </div>
              </div>         
            </div>
          
          <%= link_to "Cancel my account", registration_path(resource_name), class:"cancel-acct", :data => { :confirm => "Are you sure?" }, :method => :delete %>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>


<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      console.log("document is ready");
        var preview = $(".upload-preview img");
         console.log("preview is "+preview);
        $(".file").change(function(event){
          console.log("file change detected");
           var input = $(event.currentTarget);
           var file = input[0].files[0];
           var reader = new FileReader();
           reader.onload = function(e){
               image_base64 = e.target.result;
               preview.attr("src", image_base64);
               $(".imgLiquidFill").imgLiquid({fill:true});
           };
           reader.readAsDataURL(file);

        });
    });
  </script>
  <script type="text/javascript">

    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });

  </script>

<% end %>