<div class="section" id="services">
  <div class="fixed-wrapper"><h1>Edit Profile</h1></div>
  <div class="container" style="margin-top: 0">
    <div class="content">
      <div class="row">
        <div class="edit-profile">

    
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
        
          <div><%= f.label :name %><br />
          <%= f.text_field :name, :autofocus => true %></div>
        
          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>
        
          <div><%= f.label :street %><br>
          <%= f.text_field :street %></div>
          
          <div><%= f.label :city %><br>
          <%= f.text_field :city %></div>
        
          <div><%= f.label :zipcode %><br>
          <%= f.text_field :zipcode %></div>
        
          <div><%= f.label :state %><br>
          <%= f.text_field :state %></div>
        
          <div><%= f.label :phone_num %><br>
          <%= f.text_field :phone_num %></div>
        
          <div><%= f.label :picture %><br />
          <%= f.file_field :picture %></div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>
        
          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>
        
          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password %></div>
        
          <div><%= f.submit "Update" %></div>
        <% end %>
        
        <h3>Cancel my account</h3>
        
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class=> "btn btn-large", :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
        
        <%= link_to "Back", :back %>

        </div>
      </div>
    </div>
  </div>
</div>
