<div class="section">
  <div class="fixed-wrapper">
    <h1>The Neighborhood</h1>
  </div>
  <div class="container" style="margin-top: 0">
    <div class="content">
      <div class="row">

        <!-- User Index Section -->
        <div id="team" class="section">

          <%= paginate @user %>
          <!--   
          <div class="fixed-wrapper">
            <h1>User Listing</h1>
          </div>
          -->
          <div class="container">   
            <div class="content">
              <div class="row">

                <%= form_tag users_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search] %>
                  <%= submit_tag "Search Users  ", :name => nil %>
                  <% if params[:search].present? %>
                    <% @users %>
                    <%= link_to "Clear Results", users_path %>
                  <% end %>
                <% end %>

                <div class="user-wall">
				        </div>

              </div>          
            </div>
          </div><!-- /.container -->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="templates">

  <script class="user" type="text/template">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="team-portrait block">   
        <div class="title">
          <div class="name"> 
            <h2>{{ name }}</h2>
          </div>
        </div>           
        <div class="portrait">
          <a href="/users/{{ id }}">
            <img class="resource-pic" src={{ picture }} />                                 
          </a>
        </div>

        <div class="distance-away">
          <b>{{ distance }} miles away</b>
        </div>
      </div>
    </div>
  </script>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var userDistances = <%= raw @jason %>;
    var wall = new UserWall([], { url: '/users' });   
    var wallView = new UserWallView({
      collection: wall,
      el: '.user-wall'
    });

     for (var i=0; i < userDistances.length; i++) {
       wall.add( userDistances[i]);
     }
  </script>
<% end %>