<style>
/*  * {
    border: 1px solid red;
  }*/
</style>

<!-- Profile Section -->

<div id="profileinfo" class="section">
  <div class="container">
  <%= render "shared/error_messages" %>
    <div class="content">
      <div class="row">
        <div class="profile-section-2">
          <a name="profile"></a>
          <div class="col-lg-3">
            <div class="polaroid user-profile-img">
              <div class="imgLiquid imgLiquidFill" style="width:200px; height: 200px;">
                <%= image_tag @user.picture.url(:medium) , :class => "polaroid" %>
             </div>
            </div>
          </div>
          <div class="col-lg-8">
            <h1 class="profile-name"><strong><%= @user.name %></strong></h1>
            <div class="address-phone">
              <strong>Address:</strong>
              <p><%= @user.street %><br />
              <%= @user.city %>, <%= @user.state %>  <%= @user.zipcode %></p>
              <strong>Phone:</strong>
              <p><%= @user.phone_num %></p>
              <% if current_user == @user %>
                <%= link_to 'Edit', edit_user_registration_path %> 
              <% end %>
            </div>
          </div>
          <br>

        </div><!-- /.profile-section-2 -->  
      </div><!-- /.row -->      
    </div>
  </div><!-- /.container -->
</div><!-- /#profileinfo -->

<!-- Requests Received Section -->

<% if current_user == @user %>
  <div id="requests" class="section">
    <div class="fixed-wrapper">
      <a name="requestrec"> </a><h1><%= RESOURCE_NAME_SINGULAR %> Requests Received</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="profile-section-1">
          <div class = "col-lg-10">
            <% if @their_requests.length == 0 %>
              <h3>No one has made any requests to you.</h3>
              <table class="table table-striped table-condensed resource">        
                <thead>
                  <th><strong><%= RESOURCE_NAME_SINGULAR %></strong></th>
                  <th class="hidden-xs"></th>
                  <th class="hidden-xs"><strong>Person Requesting</strong></th>
                  <th><strong>Status</strong></th>
                </thead>
                <tbody> 
                  <tr style="height:50px;">
                    <td></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs"></td>
                    <td></td>
                  </tr>
                  <tr style="height:50px;">
                    <td></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs"></td>
                    <td></td>
                  </tr>
                  <tr style="height:50px;">
                    <td></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs"></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <% else %>
              <table class="table table-striped table-condensed resource">        
                <thead>
                  <th><strong><%= RESOURCE_NAME_SINGULAR %></strong></th>
                  <th class="hidden-xs"></th>
                  <th class="hidden-xs"><strong>Person Requesting</strong></th>
                  <th><strong>Status</strong></th>
                </thead>
                <tbody> 
                  <%= paginate @their_requests ,:window => 1 %>
                  <% @their_requests.each do |borrow| %>
                    <% if borrow.status != Borrow.returned %>
                    <tr onclick="location.href='<%= edit_borrow_path(Borrow.find(borrow.id)) %>'">
                    <% else %>
                    <tr>
                    <% end %> 
                     <td><%= borrow.resource.name %></td>
					           <td class="hidden-xs"><%= image_tag borrow.resource.picture.url(:thumb) %>  </td>
                      <td class="hidden-xs"><%=borrow.user.name%></td>
                      <td><span class="label label-warning"> <%= borrow.status %></span></td>
                    </tr>
                  <% end %>   
                </tbody>
              </table>
            <% end %>              
          </div>
        </div><!-- /.profile-section-1 --> 
      </div>
    </div><!-- /.container --> 
  </div>


  <!-- Requests Sent Section -->
  <div id="requests-made" class="section">
    <div class="fixed-wrapper">
      <a name="requestsent"></a><h1><%= RESOURCE_NAME_SINGULAR %> Requests Sent</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="profile-section-2">
          <div class = "col-lg-10">
            <% if @my_requests.length == 0 %>
              <h3>You have not made any requests.</h3>
              <table class="table table-striped table-condensed resource">
                <thead>
                  <th><strong><%= RESOURCE_NAME_SINGULAR %></strong></th>
                  <th class="hidden-xs"></th>
                  <th class="hidden-xs"><strong>Owner</strong></th>
                  <th><strong>Status</strong></th>
                </thead>
                <tbody>
                  <tr style="height:50px;">
                    <td></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs"></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <% else %>
              <table class="table table-striped table-condensed resource">
                <thead>
                  <th><strong><%= RESOURCE_NAME_SINGULAR %></strong></th>
                  <th class="hidden-xs"></th>
                  <th class="hidden-xs"><strong>Owner</strong></th>
                  <th><strong>Status</strong></th>
                </thead>
                <tbody>
                  <%= paginate @my_requests, :window => 1 %>
                  <% @my_requests.each do |borrow| %>               
                    <tr onclick="location.href='<%= borrow_path(Borrow.find(borrow.id)) %>'"> 
                      <td><%= borrow.resource.name %></td>
                      <td class="hidden-xs"><%= image_tag borrow.resource.picture.url(:thumb) %>  </td>
                      <td class="hidden-xs"><%= borrow.resource.user.name %></td>
                      <td><span class="label label-warning"> <%= borrow.status %></span></td>
                    </tr>
                  <% end %>     
                </tbody>
              </table>
            <% end %>
          </div>
        </div> 
      </div>
    </div><!-- /.container -->
  </div>
<% end %>

<% if current_user == @user %>
  <!-- Borrowed Resources Section -->
  <div id="borrowed-resources" class="section">
    <div class="fixed-wrapper">
      <a name="borrowed"> </a><h1>Borrowed <%= RESOURCE_NAME_PLURAL %></h1>
    </div>
    <div class="container">   
      <div class="content">
        <div class="profile-section-4">

          <!-- If user has not made a borrow, this message will print -->
          <% if @user.my_borrows.length == 0 %>
            <h3>You do not currently have any <%= RESOURCE_NAME_PLURAL.downcase %> borrowed.</h3>
          <% else %>
            <div class="row">
              <div class="clearfix"></div> 
              <div id="user-borrowed-resources" class="borrowed-wall owl-carousel"></div>
            </div>
          <% end %>
        </div>
      </div><!-- /.content -->
    </div>
  <% end %>
  </div>


<!-- User Resources Section -->
<div id="resources" class="section">
  <div class="fixed-wrapper">
    <% if current_user == @user %>
      <a name="resources"></a><h1>My <%= RESOURCE_NAME_PLURAL %></h1>
    <% else %>
      <a name="resources"></a><h1><%= @user.name %>'s <%= RESOURCE_NAME_PLURAL %></h1>
    <% end %>
  </div>
  <div class="container">
    <div class="content">
      <div class="profile-section-3">    
        <% if current_user == @user %>
          <%= link_to "Add New #{RESOURCE_NAME_PLURAL}", new_user_resource_path(current_user), class:"btn btn-large btn-success" %>
        <% end %>
        <div class="row">
          <% if @user_resources.length == 0%>
            <% if current_user == @user %>
              <h3>You have not listed any <%= RESOURCE_NAME_PLURAL %> to share.</h3>
            <% else %>
              <h3><%= @user.name %> does not have any <%= RESOURCE_NAME_PLURAL %> available to borrow.</h3>            
            <% end %>
          <% end %>
          <div class="clearfix"></div>
          <div id="user-resources" class="resource-wall owl-carousel">
          </div>
        </div>
      </div>  
    </div>
  </div><!-- /.container -->
</div>



<div id="templates">

   <script class="resource" type="text/template">

      <div class="polaroid resource-box">
        <div class="imgContainer imgLiquidFill imgLiquid" style="width:220px; height:220px;">
          <a href="/resources/{{ id }}" >
            <img src={{ picture }} />
          </a>
        </div>
        <div class="info">
          <p class="name"> {{ name }} </p>
        </div>
      </div>

    </script>

   <script class="resource2" type="text/template">

      <div class="polaroid resource-box2">
        <div class="imgContainer imgLiquidFill imgLiquid" style="width:220px; height:220px;">
          <a href="/resources/{{ id }}" >
            <img src={{ picture }} />
          </a>
        </div>
        <div class="info">
          <p class="name">{{owner}}'s <%= RESOURCE_NAME_SINGULAR.downcase %></p>
          <p class="nameborrow">for {{time}} </p>
        </div>
      </div>

    </script>
</div><!-- /#templates -->

<% content_for :javascript do %>
  <script type="text/javascript">
    var wall = new ResourceWall([], { url: '/resources' });
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    <% @user_resources.each do |x| %>
        wall.add(<%= raw x.to_json() %>);
    <% end %>

    var bwall = new BorrowWall([], { url: '/resources2' });
    var bwallView = new BorrowWallView({
      collection: bwall,
      el: '.borrowed-wall'
    });

    var borrowTimes = <%= raw @jason %>;

    for (var i=0; i < borrowTimes.length; i++) {
       bwall.add( borrowTimes[i]);
     }



  </script>

  <script>

    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });

  </script>

  <script>
    $(document).ready(function() {
     
      var userResources = $("#user-resources");
     
      userResources.owlCarousel({
        // Most important owl features
        items : 5,
        itemsCustom : [
        [0, 1],
        [480, 2],
        [700, 3],
        [940, 4],
        []
        ],
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [980,2],
        itemsTablet: [768,2],
        itemsTabletSmall: false,
        itemsMobile : [479,1],
        singleItem : false,
        itemsScaleUp : false,
        // lazyFollow : true
      });
     
    });

    $(document).ready(function() {
     
      var userBResources = $("#user-borrowed-resources");
     
      userBResources.owlCarousel({
        // Most important owl features
        items : 5,
        itemsCustom : [
        [0, 1],
        [480, 2],
        [700, 3],
        [940, 4],
        1160, 5],
        // itemsDesktop : [1199,3],
        // itemsDesktopSmall : [980,2],
        // itemsTablet: [768,2],
        // itemsTabletSmall: false,
        // itemsMobile : [479,1],
        singleItem : false,
        itemsScaleUp : false,
        // lazyFollow : true
      });
     
    });
  </script>
<% end %>