
<div id="Profile info" class="section">
  <div class="container">

    <div class="content">
      <div class="row">



        <div class="col-sm-6 col-md-4">
          <%= image_tag @user.picture.url(:medium) , :class => "profile-img img-rounded img-responsive" %>
        </div>
        <div class="col-sm-6 col-md-8">
            <h4><%= @user.name %></h4>
            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                <br />
                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                <br />
                <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    Social</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Social</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Github</a></li>
                </ul>
            </div>
          </div>





          <%= image_tag @user.picture.url(:medium) , :class => "profile-img" %>
        </div>
        
        <div>
          <h3><%= @user.name %></h3>
        </div>
        
        <div class="address">
          <strong>Address:</strong>
          <div class="address">
            <%= @user.street %>
          </div>
          <div class="address">
            <%= @user.city %>
          </div>
          <div class="address">
            <%= @user.zipcode %>
          </div>
          <div class="address">
            <%= @user.state %>
          </div>
        </div>
        
        <strong>Phone:</strong>
        <div>
          <%= @user.phone_num %>
        </div>
        
        <%= link_to 'Edit', edit_user_registration_path %> |
        <%= link_to 'Back', users_path %>


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                              <%= image_tag @user.picture.url(:medium) , :class => "profile-img img-rounded img-responsive" %>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4><%= @user.name %></h4>
                                <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                    <br />
                                    <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                    <br />
                                    <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                <!-- Split button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">
                                        Social</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Github</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



      </div>
    </div>
    
  </div>
</div><!-- /.container -->


<!-- Team Section -->
<div id="team" class="section">
  <div class="fixed-wrapper">
    <a name="requestrec"> </a><h1>Requests Received</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="profile-section-1">
        
        <% @user.resources.each do |resource| %>
          <% resource.borrows.each do |borrow| %>
          <p>
          <% if borrow.status != Borrow.returned %>
            <strong><%= link_to 'Request ID:', edit_borrow_path(Borrow.find(borrow.id)) %></strong>
            <% else %>
            <strong>Request ID:</strong>
            <% end %>
            <%= borrow.id %>
            <strong>Who:</strong><%= borrow.user.name %>
            <strong>Resource:</strong><%= borrow.resource.name %>
            <strong>Status:</strong><%= borrow.status %>
          </p>
          <% end %>
          <hr>
        <% end %>

      </div>
    </div>
  </div>

</div><!-- /.container -->


<!-- Services Section -->
<div id="services" class="section">
  <div class="fixed-wrapper">
    <a name="requestsent"></a><h1>Requests Sent</h1>
  </div>
  <div class="container">
    
    <div class="content">
      <div class="profile-section-2">
        
      <!-- link to borrows#show page -->
        <% @user.borrows.each do |borrow| %>
        <!-- Check status of borrow before allowing them to link to show page.
             If borrow is pending they can goto show. 
         -->
          <p>
            <% if borrow.status == Borrow.pending %>
              <strong><%= link_to 'Request ID:', borrow_path(Borrow.find(borrow.id)) %></strong>
            <%else %>
              <strong>Request ID:</strong>
            <%end %>
            <%= borrow.id %>
            <strong>Owner:</strong><%= borrow.resource.user.name %>
            <strong>Resource:</strong><%= borrow.resource.name %>
            <strong>Status:</strong><%= borrow.status %>
          </p>
          <% end %>
          <hr>
      </div>
      
    </div><!-- /.content -->
  </div>
</div>



<!-- Services Section -->
<div id="services" class="section">
  <div class="fixed-wrapper">
    <a name="resources"></a><h1>My Resources</h1>
  </div>
  <div class="container">
    
    <div class="content">
      <div class="profile-section-3">      
      <%= link_to "Add Stuffs", new_user_resource_path(current_user) %>
      <div class="resource-wall">
         
      </div>
      </div>

      
    </div><!-- /.content -->
  </div>
</div>


<!-- Services Section -->
<div id="services" class="section">
  <div class="fixed-wrapper">
    <h1>Borrowed Resources</h1><a name="borrowed"> </a>
  </div>
  <div class="container">
    
    <div class="content">
      <div class="profile-section-4">
              <!-- This will be ugly, but it should work! -->
        <!-- If user has not made a borrow, this message will print -->
        <% if @user.borrowed_resources.length == 0 %>
          <p>You haven't borrowed anything yet, silly!</p>
        <% else %>
          <div class="borrowed-wall"></div>

        <% end %>

      </div>

      
    </div><!-- /.content -->
  </div>
</div>

  <div id="templates">

    <script class="resource" type="text/template">
      <div class="resource-wrapper-index">
        <a href="/resources/{{ id }}">
        <div class="resource_img">
          <img src={{ picture }} />
        </div>
        <br>
        <div class="resource-desc">
          <div class="name"> {{ name }}
          </div> 
          <br>
        </div>
        </a>
      </div> 
    </script>


  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var wall = new ResourceWall([], { url: '/resources' });
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    <% current_user.resources.each do |x| %>
        wall.add(<%= raw x.to_json() %>);
    <% end %>

          

    var bwall = new ResourceWall([], { url: '/resources' });
    var bwallView = new ResourceWallView({
      collection: bwall,
      el: '.borrowed-wall'
    });

    <% current_user.borrowed_resources.each do |res| %>
      <% res.borrows.each do |x| %>
      <% if x.status == Borrow.borrowed %>
        bwall.add(<%= raw res.to_json() %>);
        <% end %>
      <% end %>
    <% end %>


  </script>
<% end %>
