<%= form_for [@user, @resource] do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this <%= RESOURCE_NAME_SINGULAR %> from being saved:</h2>
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group skinny">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group skinny">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <br>

  <div class="clearfix"></div>

  <div class="form-group skinny">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, class:"file" %>
      <div class="upload-preview">
        <% if @resource.picture? %>
          <%= image_tag @resource.picture.url(:medium) %>
        <%end%>
      </div>
  </div>

  <div class="clearfix"></div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-large btn-success" %>
    <%= link_to 'Back', resources_path, class:"btn btn-large btn-warning"%>
  </div>
  
<% end %>
