
<!-- Resource Index Section -->
<div class="section">
  <div class="fixed-wrapper">
  <h1>Resource Listing</h1>
    <div class="col-md-9 col-sm-4 col-xs-12">
      <div class = "simplesearch">
        <%= form_tag users_path, :method => 'get' do %>
            
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Users  ", :name => nil %>
            
          <% if params[:search].present? %>
            <% @users %>
            <%= link_to "Clear Results", users_path %>
          <% end %>
        <% end %>
      </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
    </div>
  </div>
</div>
 
  <div class="container">
    <%= render "shared/error_messages" %>


    <div id="masonry-container" class="resource-wall transitions-enabled infinite-scroll clearfix">

    </div>

  </div>
</div><!-- /.section -->


 <div id="templates">

    <script class="resource" type="text/template">

      <div class="polaroid resource-box">
        <div class="imgContainer imgLiquidFill imgLiquid" style="width:300px; height:300px;">
          <a href="/resources/{{ id }}" >
            <img src={{ picture }} />
          </a>
        </div>
        <div class="info">
          <p class="name"> {{ name }} </p>
          <p class="distance-away"> {{ distance }} miles away</p>
        </div>
      </div>

    </script>
  </div>

<% content_for :javascript do %>
  <script type="text/javascript">

    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    var resourceDistances = <%= raw @jason %>;

     for (var i=0; i < resourceDistances.length; i++) {
       wall.add( resourceDistances[i]);
     }

    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });
  </script>
<% end %>
