<h1>Listing resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= resource.picture %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>

<div class="resource-wall"></div>

<div id="templates">

  <script class="resource" type="text/template">

    <div class="resource-div small-2 center">
      <img src={{picture}} />
      <br>
      <h4>{{ name }} </h4>
 
    </div>

  </script>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    wall.add(<%= raw @resources.to_json %>);

  </script>
<% end %>
