<style>
/*  *{
    border: 1px solid red;
  }*/
</style>

<head>
  <div class="search affix" style="opacity: 1;">
    <i class="fa fa-search icon"></i>
      <%= form_tag resources_path, class: "form-inline", :method => 'get' do %> 
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
        </div>         
      <% end %>
  </div>
</head>

<div class="section">
  <div class="fixed-wrapper">
    <h1><%= RESOURCE_NAME_SINGULAR %> Listing</h1>
  </div>

  <%= render "shared/error_messages" %>
   
  <div class="container index" style="margin-top: 0">
    <div class="container">
      <div class="row">
        <% if params[:search].present? %>
          <% @resources %>
          <div class="search-clear" style="display:inline-block; float:right;">
            <span>Showing search results for "<%= params[:search] %>." &nbsp &nbsp</span>
            <%= link_to "Clear Results", resources_path %>
        <% end %>
        </div>

        <div class="btn btn-danger map-view">
          <%= link_to "Map View", resources_map_path %>
        </div>

        <div id="masonry-container" class="resource-wall transitions-enabled infinite-scroll clearfix">
        </div>
      </div>
    </div>
  </div>
</div><!-- /.section -->


 <div id="templates">
  <script class="resource" type="text/template">
    <div class="polaroid resource-box">
      <div class="imgContainer imgLiquidFill imgLiquid" style="width:220px; height:220px;">
        <a href="/resources/{{ id }}" >
          <img src={{ picture }} />
        </a>
      </div>
      <div class="info">
        <a href="/resources/{{ id }}" ><p class="name"> {{ name }} </p></a>
        <p class="distance-away"> {{ distance }} miles away</p>
      </div>
    </div>
  </script>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    var resourceDistances = <%= raw @jason %>;

    for (var i=0; i < resourceDistances.length; i++) {
       wall.add( resourceDistances[i]);
     }

    $(document).ready(function() {
      $(".imgLiquidFill").imgLiquid({fill:true});

    });
  </script>
<% end %>
  
