<head>
  <div class="search affix" style="opacity: 1;">
    <i class="fa fa-search icon"></i>
      <%= form_tag resources_map_path, class: "form-inline", :method => 'get' do %> 
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
        </div>         
      <% end %>
  </div>
</head>
<body>
  <div class="section">
    <div class="fixed-wrapper">
      <h1><%= RESOURCE_NAME_SINGULAR %> Listing</h1>
    </div>

    <%= render "shared/error_messages" %>
    
    <div class="container index" style="margin-top: 0">
      <% if params[:search].present? %>
      <% @resources %>
    <div class="search-clear" style="display:inline-block; float:right;">
      <span>Showing search results for "<%= params[:search] %>." &nbsp &nbsp</span>
      <%= link_to "Clear Results", resources_map_path %>
      <% end %>
    </div>
   
    <div class="container">
      <div class="row">
        <div class="btn btn-danger map-view">
          <%= link_to "Image View", resources_path(:search => params[:search]) %>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
          <div id="map" style="height: 600px">
     
          </div>
        </div>
      </div>
    </div>
   </div> 
  </div> 
    
  <% content_for :javascript do %>

    <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' type='text/javascript'></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>

    <script type="text/javascript">
      buildmap(<%= raw @hash.to_json %>,13);
    </script>
  <% end %>
</body>
