<div id="contact" class="section">
  <div class="fixed-wrapper"><h1>Resource</h1></div>
  <div class="container">
    
    <div class="content">
      <div class="resource-wrapper">
        <p id="notice"><%= notice %></p>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="team-portrait block">              

              <div class="portrait">
                <%= image_tag @resource.picture.url(:medium) %>              
                <span class="overlay"><span class="valign"></span><i class="icon-envelope"></i></span>                    
              </div>
              <div class="title">
                <div class="name"><%= @resource.name %></div>
              </div>
              <div class="distance-away">
                <b>{{ distance }} miles away</b>
              </div>
              <p class="resc-description"><%= @resource.description %></p>
            </div>
          </div>

         <h4>Owner:</h4>
        <div>
          <%= @resource.user.name %>
        </div>

      <% if current_user == @resource.user %>
        <div class="button alert">
          <%= link_to 'Edit', edit_user_resource_path(:user_id => current_user.id) %>
        </div>
      <% else %>
      <%#=  render inspect params %>
          <% if @resource.already_associated_with_borrower?( current_user) %>
            <div class="success button">
              <%= link_to 'Check Status', edit_borrow_path(resource: @resource.id) %>
            </div>
          <% else %>
            <div class="success button">
              <%= link_to 'Request to borrow!', new_borrow_path(resource: @resource.id) %>
            </div>
          <% end %>
      <% end %>
        <div class="button">
          <%= link_to 'Back', resources_path %>
        </div>
    </div>
  </div>
</div>
</div>
