<div class="row">
  <div class="large-5 medium-6 small-10 small-centered columns" style="border: 1px solid red;">
    <div class="resource-wrapper">
      <p id="notice"><%= notice %></p>

      <h2><%= @resource.name %></h2>

      <div class="resource_img">
        <%= image_tag @resource.picture.url(:medium) %>
      </div>

        <h4>Description:</h4>
        <div>
          <%= @resource.description %>
        </div>

      <% if current_user == @resource.user %>
        <div class="button alert">
          <%= link_to 'Edit', edit_user_resource_path(:user_id => current_user.id) %>
        </div>
      <% else %>
      <%#=  render inspect params %>
        <div class="success button">
          <%= link_to 'Request to borrow!', new_borrow_path(resource: @resource.id) %>
        </div>
      <% end %>
        <div class="button">
          <%= link_to 'Back', resources_path %>
        </div>
    </div>
  </div>
</div>

