<%= form_for(@borrow) do |f| %>
  <% if @borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
      <% @borrow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div> -->


<!--   <form role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputName" placeholder="Full Name" required>
      <label for="exampleInputName"><i class="icon-tag"></i></label>
      <div class="clearfix"></div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
      <label for="exampleInputEmail1"><i class="icon-inbox"></i></label>
      <div class="clearfix"></div>
    </div>
    <div class="form-group textarea">
      <textarea rows="6" class="form-control" id="exampleInputMessage" placeholder="Write Message" required></textarea>
      <label for="exampleInputMessage"><i class="icon-pencil"></i></label>
      <div class="clearfix"></div>
    </div>
    
    <button type="submit" class="btn btn-large">Send Message</button>
  </form> -->
  
    <%= f.hidden_field :status, :value => params[:status] %>
    <%= f.hidden_field :resource_id, :value => params[:id] %>

  <!-- <div class="actions submit button"> -->
    <% if @borrow.status == 'available' %>
      <%= f.submit 'Request', class: "btn btn-large success" %>
    <% elsif @borrow.status == 'pending' %>
      <%= button_tag(type: 'submit', class: "btn btn-large btn-success", status: "borrowed") do %>
        <i class="fa fa-thumbs-o-up"></i>I Say YES
        <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-large btn-danger", status: "denied") do %>
        <i class="fa fa-times"></i>I say NO
        <% end %>
    <% else %>  
      <%= button_tag(type: 'submit', class: "btn btn-large") do %>
        <i class="fa fa-camera-retro"></i>Request
      <% end %>
    <% end %>
  <!-- </div> -->


<% end %>
