<%= form_for(@borrow) do |f| %>
  <% if @borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
      <% @borrow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div> -->
  
    <%= f.hidden_field :status, :value => params[:status] %>
    <%= f.hidden_field :resource_id, :value => params[:id] %>

  <!-- <div class="actions submit button"> -->
    <% if @borrow.status == 'available' %>
      <%= f.submit 'Request', class: "button success" %>
    <% elsif @borrow.status == 'pending' %>
      <%= f.submit 'I say YES', class: "button success", status: "borrowed" %>
      <%= f.submit 'I say NO', class: "button alert", status: "denied" %>
    <% else %>  
      <%= f.submit 'Request', class: "button success" %>
    <% end %>
  <!-- </div> -->

<% end %>
