<!-- Maybe You Can Haz? page -->

<div class="resource-wrapper">
  <h2><%= @borrow.user.name %> wants your <%= @borrow.resource.name %>!</h2>

  <div class="resource_img">
    <%= image_tag @borrow.resource.picture.url(:medium) %>
  </div>

  <h4>Description:</h4>
  <div>
    <%= @borrow.resource.description %>
  </div>

  <br />

  <h3>What do you think?</h3>

  <%= render 'form' %>

</div>

