<!-- Maybe You Can Haz? page -->

<div id="contact" class="section">
  <div class="fixed-wrapper">
    <h1>
      <%= @borrow.user.name %> 
      <% if @borrow.status == Borrow.pending %>
        wants your 
      <% elsif @borrow.status == Borrow.borrowed %>
        has your
      <% else %>
        is confused by your
      <% end %>
      <%= @borrow.resource.name %>!
    </h1>
  </div>

  <div class="container">
    
    <div class="content">
      <div class="container block">
        <div class="row">
          <div class="col-4-md">
            <div class="expanded">
              <div class="imgLiquid imgLiquidFill" style="width:300px; height: 300px;">
                <%= image_tag @borrow.resource.picture.url(:medium), class:"expanded pull left" %>
              </div>
            </div>
          </div>
          <div class="col-6-md">
            <div class="resc-exp-desc">
              <h4>Description:</h4>
              <div>
                <%= @borrow.resource.description %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <% if @borrow.status == Borrow.pending %>
       <h3>What do you think?</h3>
      <% elsif @borrow.status == Borrow.borrowed %>
       <h3>Have they given it back?</h3>
      <% end %>

      <%= form_for(@borrow) do |f| %>
        <% if @borrow.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>
            <ul>
              <% @borrow.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :status %>

        <% if @borrow.status == Borrow.pending %>
          <div class="form-group text-area">
            <%= text_area_tag :msg, nil, class:"form-control", placeholder:"Please provide Borrower with a message..." %> 
            <%= f.label "Message" do %>
              <i class="icon-pencil"></i>
            <% end %>
          </div>

          <div class="clearfix">             
          </div>


        <%= f.hidden_field :status %>

<%= button_tag(type: 'submit', name: 'status',value:  "#{@pos}" , class: "btn btn-large btn-success") do %>
            <i class="fa fa-thumbs-o-up"></i><%= "#{@pos}" %>
          <% end %>      
          <%= button_tag(type: 'submit', name: 'status',value: "#{@neg}" , class: "btn btn-large btn-danger") do %>
            <i class="fa fa-times"></i><%= "#{@neg}" %>
          <% end %>
        <% elsif @borrow.status == Borrow.borrowed %>
          <%= button_tag(type: 'submit', name: 'status',value: "#{@ret}" ,class: "btn btn-large btn-success") do %>
            <i class="fa fa-thumbs-o-up"></i><%= "#{@ret}" %>
          <% end %>      
        <% else %>
          <% flash.alert = "I did not expect to get to borrow edit with status #{@borrow.status}"%>
        <% end %>
      <% end %>  
      
    </div>
    <br />
    
  </div><!-- /.container --> 
</div> 


<% content_for :javascript do %>

  <script>
    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });

  </script>

<% end %>
