<!-- Format should be same at show.html.erb and edit.hmtl.erb -->
<div id="contact" class="section">
  <div class="fixed-wrapper">
    <h1>Request to Borrow</h1>
  </div>

  <div class="container">
    <div class="content">
      <%= form_for(@borrow) do |f| %>
        <% if @borrow.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>
            <ul>
              <% @borrow.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :status %>
        <%= f.hidden_field :resource_id, :value => @borrow.resource_id %>
        <div class="form-group text-area">
          <%= text_area_tag :msg, nil, class:"form-control", placeholder:"Write a note to the Owner explaining why you want to borrow this tool..." %>  
      <!--     <%= f.label "Message:" do %>
            <i class="fa fa-pencil"></i>
          <% end %> -->
        </div>
        <div class="clearfix">        
        </div>
        <%= f.submit 'Send Request', class: "btn btn-large btn-success" %>
      <% end %>
      <%= link_to 'Back', resources_path, class: "btn btn-large btn-warning" %>
    </div>
    <br>
  </div><!-- /.container --> 
</div>  