<div id="contact" class="section">
  <div class="fixed-wrapper">
    <h1>Your Request</h1>
  </div>

  <div class="container">
    <div class="content">
      <%= render "shared/error_messages" %>
      <div class="container block">
        <div class="row">
          <div class="col-4-md">
            <div class="expanded">
              <%= image_tag @borrow.resource.picture.url(:medium), class:"expanded pull left" %>
            </div>
          </div>
          <div class="col-6-md">
            <div class="resc-exp-desc">
              <h4>Description:</h4>
              <div>
                <%= @borrow.resource.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
      </div>
      <div>
        <h4>
        <% if @borrow.status == Borrow.pending %>
          You requested <%= @borrow.resource.user.name %>'s <%= @borrow.resource.name %><span> <%= time_ago_in_words(@borrow.created_at) %> ago.</span>
        <% elsif @borrow.status == Borrow.borrowed %>
          You've had <%= @borrow.resource.user.name %>'s <%= @borrow.resource.name %> for <span> <%= time_ago_in_words(@borrow.updated_at) %>.</span>
        <% end %>
        </h4>
      </div>

<!-- Consider adding option for the borrower to email the owner to request feedback -->

      <% if @user == @borrow.user && @borrow.status == Borrow.pending %>
        <p>Cancel this request if you don't want this anymore.</p>
        <div>
          <%= link_to 'Cancel', @borrow, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-large btn-danger" %>
        </div>
      <% end %>

      <div>
        <%= link_to 'Back', :back, class:"btn btn-large btn-warning" %>
      </div>
    </div>
    <br>
  </div>
</div><!-- /.container -->  