<p id="notice"><%= notice %></p>
<h1>This is borrows#show</h1>

<p>
  <strong>Resource ID:</strong>
  <%= @borrow.id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @borrow.resource.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @borrow.status %>
</p>

<h3>Link to back out of this show.</h3>

<%= link_to 'Back', current_user %>

<% if @user == @borrow.user %>
  <h3>Only press this button ifz your surez you don't want thiz anymore.</h3>

  <div class="button alert">
    <%= link_to 'Destroy', @borrow, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>