<p id="notice"><%= notice %></p>
<h2>Your request</h2>

<div>
  <p>
    You requested <%= @borrow.resource.user.name %>'s <%= @borrow.resource.name %>.
  </p>
</div>

<p>
  <strong>Resource ID:</strong>
  <%= @borrow.id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @borrow.resource.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @borrow.status %>
</p>

<div class="button">
  <%= link_to 'Back', current_user %>
</div>

<% if @user == @borrow.user %>
  <h4>Cancel this request if you don't want this anymore.</h4>

  <div class="button alert">
    <%= link_to 'Cancel', @borrow, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>