<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "#{APP_NAME}", resources_path, class: "navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- This hidden one just makes scrollspy reset when going above the team section -->
      <li style="display: none;"><a href="#home"></a></li>
      <% if user_signed_in? %>
        <li><%= fa_link_to 'th', "ALL #{RESOURCE_NAME_PLURAL.upcase}", resources_path %></li>
        <!-- All On User Show Page -->
        <li><%= fa_link_to 'user', "MY PROFILE", user_path(current_user, anchor:'profile') %></li>
        <li><%= fa_link_to 'plus-circle', "REQUESTS RCVD", user_path(current_user, anchor:'requestrec') %></li>
        <li><%= fa_link_to 'envelope', "REQUESTS MADE", user_path(current_user, anchor:'requestsent') %></li>
        <li><%= fa_link_to 'exchange', "MY #{RESOURCE_NAME_PLURAL.upcase}", user_path(current_user, anchor:'resources') %></li>
        <li><%= fa_link_to 'bars', "BORROWED #{RESOURCE_NAME_PLURAL.upcase}", user_path(current_user, anchor:'borrowed') %></li>

        <li><%= fa_link_to 'pencil-square-o', 'EDIT PROFILE', edit_user_registration_path %></li>
        <li><%= fa_link_to 'users', 'YOUR NEIGHBORS', users_path %></li>
        
        <li><%= fa_link_to 'sign-out', 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "SIGN UP", new_user_registration_path %></li>
        <li><%= fa_link_to 'sign-in', "SIGN IN", new_user_session_path %></li>
      <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div>