<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Shed</title>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
       
  <body>
    <%= render "layouts/header" %>
    <%= render "shared/error_messages" %>
    <%= yield %>
    
    
    
    <div id="footer" class="section">
      <p>Made by The Shed</a></p>     
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>

  </body>
</html>