<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>THE SHED</title>


    <%= stylesheet_link_tag "application" %>
    <%= respond_include_tags %>

    <%= csrf_meta_tags %>
  </head>
       
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    
    
    
    <div id="footer" class="section">
      <p>Made by The Shed</p>     
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>

  </body>
</html>