<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Shed" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="row">
      <div class="large-5 medium-6 small-10 small-centered columns" style="border: 1px solid red;">
        <%= render "shared/error_messages" %>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>

